
.uify-alert {

  // hide buttons in menubar
  .uify-dialog-header .uify-item-buttons { display: none; }

  .uify-dialog-content {
    font-size: 1.5em;
    font-family: @basefont;
    text-align: center;
  }

}
