
.uify-button {

  cursor: pointer;
  text-align: center;
  user-select: none; // prevent selecting text in buttons, in case they are clicked rapidly many times

  min-width: 1.4em;
  min-height: 1.4em;
  padding: 0.2em 0.2em;


  .image_icon {
    background-repeat: no-repeat;
    background-size: contain;
    width: 1em;
    height: 1em;
    background-position: center;
  }

  // &:hover > .image_icon {
  //   outline-width: 2px;
  //   outline-color: @hover;
  //   outline-style: auto;
  // }

  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
  //                                                  COLOR
  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

  .front.primaryAndHover();
  &.clicked { .front.selectedAndHover() !important; }

  &.invert-colors {
    .back.primaryAndHover();
    &.clicked { .back.selectedAndHover() !important; }
  }

  &.success {
    .front.successAndHover();
    &.invert-colors { .back.successAndHover(); }
  }

  &.warning {
    .front.warningAndHover();
    &.invert-colors { .back.warningAndHover(); }
  }

  &.error {
    .front.errorAndHover();
    &.invert-colors { .back.errorAndHover(); }
  }

  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
  //                                                  INLINE TITLE
  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

  &.with_inline_title {

    display: flex;
    font-size: 110%;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;

    .inline_title {
      flex: 1;
    }

    .button_icon {
      flex: 0;
      padding: 0.5em;
    }

  }

  &.with_left_inline_title , &.with_top_inline_title {
    .inline_title { order: 0; }
  }
  &.with_right_inline_title , &.with_bottom_inline_title {
    .inline_title { order: 1; }
  }
  &.with_bottom_inline_title, &.with_top_inline_title {
    flex-direction: column;
    .inline_title { text-align: center; }
  }
  &.with_left_inline_title, &.with_right_inline_title {
    flex-direction: row;
  }

  &.with_left_inline_title {
    .inline_title { text-align: right; }
    .button_icon { padding-left: 10px; }
  }
  &.with_right_inline_title {
    .inline_title { text-align: left; }
    .button_icon { padding-right: 10px; }
  }
  &.with_top_inline_title {
    .button_icon { padding-top: 10px; }
  }
  &.with_bottom_inline_title {
    .button_icon { padding-bottom: 10px; }
  }

  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

}
