
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//                                                  DIALOG
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

.uify-dialog-overlay {

  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9990;

  &.hidden-overlay {
    pointer-events: none;
    background-color: transparent;
  }

  .uify-dialog {

    // background-color: @base;
    background-color: @secondaryTransparentLess;
    color: @secondaryContrast;
    min-height: 30vh;
    max-height: 90vh;
    min-width: 30vw;
    max-width: 70vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    pointer-events: auto; // useful in case hidden-overlay is enabled, to make sure dialog receives pointer events

    &.success { background-color: @success; color: @successContrast; }
    &.warning { background-color: @warning; color: @warningContrast; }
    &.error   { background-color: @error;   color: @errorContrast;   }
    &.danger  { background-color: @danger;  color: @dangerContrast;  }

    .uify-dialog-header {
      flex: 0;
      padding: 1em;
      cursor: default;
      .uify-item-field-title {
        font-size: 1.3em;
        font-family: @basefontBold;
      }
    }

    .uify-dialog-body {
      flex: 1;
      padding: 1em;
      &.small { font-size: 1em; }
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: auto;

      .uify-dialog-content {
        margin: auto; // necessary otherwise if content is too long, text overflows on top and is not readable
        max-height: 100%;
        width: 100%;
      }

    }

    .uify-dialog-footer {
      flex: 0;
      display: flex;
      flex-direction: row;
      padding: 1em;
      justify-content: flex-end;
      .uify-button {
        padding: 0.5em 1em;
        margin: 0 1em;
        font-family: @basefont;
      }
    }

  }

}

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//                                                  FULLSCREEN DIALOG
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

.uify-dialog-fullscreen {
  position: absolute;
  z-index: 99999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0,0,0,0.8);
  overflow: hidden;
  & > .uify-button { z-index: 99999; }
}


//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//                                                  SMALL SCREEN DEVICES
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

// @media all and (orientation:portrait) {
@media (any-pointer:none), (any-pointer:coarse), (max-width: 700px) {
  .uify-dialog-overlay .uify-dialog {
    max-height: 100vh;
    max-width: 100vw;
  }
}

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
