
.uify-item {

  //
  //                              ITEM STYLING

  display: flex;
  vertical-align: middle;
  align-items: center;

  //
  //                              STANDARD AND CUSTOM FIELDS

  .uify-item-avatar {
    flex: 0;
    font-size: 200%;
    // font-size: 300%;
    margin-right: 0.3em;
    .uify-button {
      color: @primary;
    }
  }


  .uify-item-fields {

    flex: 1;
    text-align: left;

    .uify-item-field-label {
      color: @secondary;
    }

    .uify-item-field-title {
      font-size: 200%;
    }

    .uify-item-field-text {
    }

    .uify-item-field-comment {
      font-size: 80%;
    }

  }

  //
  //                              BUTTONS

  .uify-item-buttons {
    flex: 0;
    display: flex;
    font-size: 1.4em;
  }

  //                              ¬
  //

}
