
.uify-list {

  padding: 1em;

  .uify-list-title {
    font-size: 200%;
    font-family: @basefontBold;
    margin: 20px;
  }

  .uify-item {
    padding: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    background-color: @baseTransparentMore;
  }


}
