
.uify-dialog.uify-menu {

  .uify-dialog-header {
    .uify-item {
      text-align: center;
      .uify-item-buttons { display: none; }
    }
  }
  .uify-dialog-body { display: none; }

  .uify-dialog-footer {

    flex: 1;
    flex-direction: column;
    padding: 0;
    padding: 0.5em;
    font-size: 1.3em;
    overflow-y: auto;
    justify-content: flex-start; // otherwise overflow is not displayed
    // otherwise there is no margin after last button
    &:after {
      content: "_";
      color: transparent;
      font-size: 5px;
    }

    .uify-button.with_inline_title {
      flex-grow: 1;
      margin: 0.5em;
      flex-shrink: 0;
      flex-direction: row-reverse;
    }

  }

}
