
.uify-panel {

  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  max-width: 100%;
  max-height: 100%;
  overflow-y: auto;

  .uify-panel-title {
    text-transform: uppercase;
    color: @primary;
    padding: 1em 1em 0 1em;
    .uify-button {
      font-size: 0.8em;
    }
  }
  .uify-panel-body {
    width: 100%;
    flex: 1;
    overflow-y: auto;
  }

}
