
//——————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————
//||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
//——————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————
//                                                  SPACES
//——————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————

.uify-spaces {
  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

  @arrowsHeight: 2em;
  @pathBarHeight: 2.5em;
  .coverAll () {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  position: relative !important;

  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
  //                                                  SPACES
  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

  &.has_full_path_bar > .spaces { height: calc(100% - @pathBarHeight); }
  &.has_full_path_bar-top > .spaces { top: @pathBarHeight; }
  & > .spaces {
    position: relative;
    overflow: hidden;
    .coverAll();

    .spaces-wrapper {

      position: absolute;
      .coverAll();
      // animate changing of space
      &.animated { transition: left 0.2s cubic-bezier(.61,-0.06,.39,1.02); }

      .space {
        position: absolute;
        overflow-y: auto;
        .coverAll();
      }

    }

  }

  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
  //                                                  PATH BAR
  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

  &.has_full_path_bar > .spaces_bar { background-color: @base; }
  .spaces_bar {

    position: absolute;
    width: 100%;
    height: @pathBarHeight;
    display: flex;
    pointer-events: none;

    &.top {
      top: 0;
      & > .arrow { top: 0; }
    }
    &.middle { top: calc(50% - (@arrowsHeight / 2)); }
    &.bottom {
      bottom: 0;
      & > .arrow { bottom: 0; }
    }

    //
    //                              ARROWS

    & > .arrow {
      font-size: @arrowsHeight;
      cursor: pointer;
      padding: 0.1em 0;
      pointer-events: auto;
      .front.primaryAndHover();
    }
    & > .arrow-left { left: 0; }
    & > .arrow-right { right: 0; }
    & > .arrow.hidden { display: none !important; }

    //
    //                              BUTTONS

    .space_bar_buttons {
      display: flex;
      font-size: 1.2em;
      pointer-events: auto;
      .uify-button {
        padding: 0.4em;
      }
    }

    //
    //                              PATH BAR

    & > .path_bar {

      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;
      height: 100%;

      .path_part, .path_delimitor {
        padding: 0.2em 0.5em;
        line-height: 1.5;
        margin: 0.25em 0;
      }

      .path_part {
        pointer-events: auto;
        .back.primaryAndHover();
        cursor: pointer;
        &.selected { .back.selectedAndHover(); }
      }
      .path_delimitor {
        color: @baseContrast;
      }

    }

    //                              ¬
    //

  }

  // hide left or right arrow if on first or/and last
  &.displaying-first > .spaces_bar > .arrow-left  { display: none !important; }
  &.displaying-last  > .spaces_bar > .arrow-right { display: none !important; }

  // if only one space, hide pathBar and resize spaces
  &.displaying-first.displaying-last {
    & > .spaces { top: 0; }
    & > .spaces_bar { display: none !important; }
  }

  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
}

//——————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————
//||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
//——————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————
//                                                  SWITCHER
//——————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————

.uify-spaces--switcher {

  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9990;
  display: none;
  text-align: center;
  flex-direction: column;
  &.visible { display: flex }

  & > .title {
    flex: 0;
    font-size: 2em;
    font-family: @basefont;
    margin-top: 2em;
    margin-bottom: 1em;
  }

  .current_spaces {
    flex: 1;
    overflow: auto;
    .space_thumbnail {
      width: 14em; // width of image plus paddings
      margin: 1em;
      padding: 2em;
      cursor: pointer;
      display: inline-block;
      background-color: @baseContrastTransparent;
      color: @base;
      position: relative;
      .back.hover();
      &.current {
        background-color: @selectedTransparentLess;
        color: @selectedContrast;
        .back.hover();
      }
      .image {
        width: 10em;
        height: 10em;
        background-position: center;
        background-size: cover;
      }
      .title {
        padding-top: 0.5em;
        font-size: 1.5em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-family: @basefont;
      }
      .uify-button {
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        font-size: 2em;
        &:hover { color: @hoverContrast; }
      }
      &:hover .uify-button { display: block; }
    }
  }

  .additional_buttons {
    flex: 0;
    margin-bottom: 1em;
    display: flex;
    font-size: 2.5em;
    align-items: center;
    justify-content: center;
    .uify-button {
      margin: 0.5em;
    }
  }

}

//——————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————
//||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
//——————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————
