
.uify-spinner {

  @spinnersize: 20vh;

  top: 0;
  z-index: 9990;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s;
  pointer-events: none;

  .uify-spinner_overlay {
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
  }

  .uify-spinner_spinner {
    font-size: @spinnersize;
    position: absolute;
    top: calc(50% - (@spinnersize/2));
    left: calc(50% - (@spinnersize/2));
    text-align: center;
    display: block;
    z-index: 99;
    .animate-spin
  }

  .uify-spinner_text {
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    position: absolute;
    top: calc(50% + (@spinnersize/2));
    text-align: center;
    display: block;
    z-index: 99;
  }

}
