
@import "uify/styles/index.less";

.intertitle {
  &:not(:first) { margin-top: 1em; }
  padding: 0.5em 1em;
  font-size: 1.5em;
}

.button {
  padding: 0.5em 1em;
  margin: 0 1em;
  display: inline-block;
  cursor: pointer;
  .back.primaryAndHover();
}
