
@uifyCalendarBorderRadius: 20%;

.uify-calendar {
  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
  //                                                  GENERAL
  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

  position: relative;
  width: 100%;
  height: 100%;
  top: 0;

  table {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    cursor: default;
    font-family: @basefont;

    //
    //                              CASE WHERE YEAR AND MONTH ARE IN DIFFERENT HEADERS
    
    &.separated_year_and_month_headers {
      thead {
        height: calc((100% * 3) / 9);
        tr { height: calc(100% / 3); }
      }
      tbody {
        height: calc((100% * 6) / 9);
      }
    }

    //
    //                              TABLE ROWS AND CELLS (IN HEAD AND BODY)

    tr {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      td, th {
        flex: 1;
        text-align: center;
        border-radius: @uifyCalendarBorderRadius;
        padding: 3% 0;
      };
    }

    //
    //                              HEAD

    thead {
      height: calc((100% * 2) / 8);
      tr {
        height: calc(100% / 2);
        th {
          font-family: @basefontBold;
        }
        .title {  }
        .nextprev {
          color: @baseContrast;
          &:hover { color: @hover; }
        }
      }
    }

    //
    //                              BODY

    tbody {
      height: calc((100% * 6) / 8);
      flex: 1;

      tr {
        height: calc(100% / 6);
        td {
          &.available {
            .back.hover();
            cursor: pointer;
          }
          &.weeknumber {
            font-family: @basefontLight;
            color: @secondary;
          }
          &.weekend { }
          &.othermonth {
            color: @baseContrastTransparent;
            &.selected {
              color: @baseContrastTransparent;
              background-color: @primaryTransparentMore;
            }
          }
          &.today { .front.primary(); }
          &.unavailable { opacity: 0.3; }
          &.selected {
            .back.primary();
            border-radius: 0;
          }
          &.selstart { border-radius: @uifyCalendarBorderRadius 0 0 @uifyCalendarBorderRadius; }
          &.selend { border-radius: 0 @uifyCalendarBorderRadius @uifyCalendarBorderRadius 0; }
          &.selstart.selend { border-radius: @uifyCalendarBorderRadius; }
        }
      }

    }

    //                              ¬
    //

  }

  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
}
