
@import "./swiper";

// make navigation bullets take a bit less width, so that download button can be clickable
.swiper-pagination-bullets {
  width: 80% !important;
  left: 10% !important;
}

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//                                                  PREVIEW
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

.uify-preview {

  .uify-swiper-slide {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .uify-preview-content-title {
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    font-size: 1.6em;
    color: @primary;
  }

  .uify-preview-content-download_button {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    font-size: 2em;
    padding: .5em;
  }

  .uify-preview-content {

    //
    //                              GENERAL

    width: 100%;
    height: 100%;
    overflow: auto;

    .uify-preview-content-download_link {
      text-decoration: underline;
      cursor: pointer;
      .front.hover();
    }

    //
    //                              SPECIFIC CONTENT TYPES

    &.uify-preview-content_text, &.uify-preview-content_markdown {
      background-color: @base;
      color: @baseContrast;
      padding: 2em;
      font-size: 1.2em;
    }

    &.uify-preview-content_unknown {
      font-size: 2em;
      text-align: center;
      margin-top: 25vh;
      padding: 2em;
    }

    //
    //                              SMALL

    &.uify-preview-content_small {
      &.uify-preview-content_pdf, &.uify-preview-content_audio {
        text-align: center;
        padding-top: 20%;
        font-size: 2em;
      }
      &.uify-preview-content_audio div { font-size: .5em; }
      &.uify-preview-content_text, &.uify-preview-content_markdown { font-size: .7em; }
      &.uify-preview-content_unknown {
        font-size: .8em;
        margin-top: 15%;
      }
    }

    //                              ¬
    //

  }

}

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//                                                  PREVIEW ICON
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

.uify-preview-icon {
  font-size: 30px;
  max-width: 100px;
  max-height: 100px;
  padding: 10px;
  cursor: pointer;
  .flexautocenter();
  .front.hover();
}

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//                                                  REDUCED SWIPABLE THUMBNAIL
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

.uify-preview-reduced {
  position: relative;
  cursor: pointer;
  .uify-preview-reduced-maximize {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    font-size: 2em;
  }
  .uify-preview-content-download_button { font-size: 1.5em; }
  .swiper-button-prev, .swiper-button-next { font-size: 2em; }
}

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//                                                  PREVIEW DIALOG
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

.uify-preview-dialog {
  .uify-preview-content {
    width: 90vw;
    height: 90vh;
    margin: 5vh 5vw;
  }
}

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//                                                  SMALLER SCREENS
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

@media (any-pointer:none), (any-pointer:coarse), (max-width: 700px) {
  .uify-preview-dialog {
    width: 100%;
    height: 100%;
    &:not(.uify-preview-content_text), &:not(.uify-preview-content_markdown) { margin: 0; }
  }
}

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
