
.uify-wiki {
  //——————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————
  //||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
  //——————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————
  //                                                  HIDDEN SIDEBAR DISPLAY
  //——————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————

  &.uify-wiki-sidebar_hidden {
    .uify-wiki-sidebar { left: calc(-30% + 50px); }
    .uify-wiki-body {
      left: 50px;
      width: calc(100% - 50px);
    }
    .uify-wiki-sidebar_button {
      left: 10px;
      top: 40px;
    }
  }

  //——————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————
  //||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
  //——————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————
  //                                                  SIDEBAR BURRON
  //——————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————

  .uify-wiki-sidebar_button {
    position: fixed;
    font-size: 2em;
    left: calc(30% - 5px - 1.5em); // right of sidebar
    top: 10px;
    cursor: pointer;
    transition: left 1s, top 1s;
  }

  //——————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————
  //||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
  //——————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————
  //                                                  SIDEBAR
  //——————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————

  .uify-wiki-sidebar {

    width: 30%;
    height: 100%;
    overflow-y: auto;
    position: absolute;
    left: 0;
    top: 0;
    transition: left 1s;
    background-image: radial-gradient(circle at 50% 0%, @primaryContrast, @primary, @hover);
    // background-image: linear-gradient(to top left, @hover, @primary, white);
    // background-image: radial-gradient(ellipse at 00% 0%, #FFC0FE, #08F, white);
    color: @primaryContrast;

    display: flex;
    flex-direction: column;
    align-items: center;

    //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
    //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
    //                                                  LOGO
    //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

    .logo {
      text-align: center;
      padding: 1em;
      cursor: pointer;
      img { width: 10em; height: 10em; }
      div { font-size: 2em; }
    }

    //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
    //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
    //                                                  CONTENT
    //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

    .content {

      flex: 1;
      width: 100%;
      padding: 1.5em;

      .sidebar-subpage {

        // color children that are current (will be applied to sidebar-title but also to any child added to sidebar-subtitles that would have the class)
        .current { color: @selected !important; }

        .sidebar-title {
          cursor: pointer;
          font-size: 2em;
          .front.secondaryAndHover();
        }

        .sidebar-subtitles {
          .intertitle, a {
            display: block;
            padding-left: 1em;
            font-size: 1.2em;
          }
          .intertitle { color: @secondary; }
          a {
            cursor: pointer;
            .front.baseAndHover();
          }
        }

      }

    }

    //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
    //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
    //                                                  VERSION, LICENSE
    //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

    .footer {
      text-align: center;
      margin: 1em;
      margin-top: 0;
    }

    //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
    //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

  }

  //——————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————
  //||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
  //——————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————
  //                                                  BODY
  //——————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————

  .uify-wiki-body {
    //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
    //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
    //                                                  GENERAL
    //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

    width: 70%;
    height: 100%;
    overflow-y: auto;
    position: absolute;
    left: 30%;
    top: 0;
    transition: left 1s, width 1s;
    .back.base();

    //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
    //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
    //                                                  CONTENTS
    //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

    .page_container {

      .logo {
        width: 80px;
        position: absolute;
        right: 10px;
        top: 10px;
      }

      .title {
        font-size: 2em;
        font-family: @basefontBold;
        margin-top: 10px;
      }

      .content {
        min-height: calc(100vh - 120px);
      }

      .footer {
        font-size: 0.8em;
        text-align: center;
      }

    }

    //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
    //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
    //                                                  ONLY FOR ABSTRACT BODY
    //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

    .uify-wiki-page-abstract {
      display: flex;
      flex-direction: column;
      text-align: center;
      height: 100%;

      .logo {
        position: initial;
        width: 15em;
        height: 15em;
        margin: auto;
      }

      .title {
        font-size: 2em;
      }

      .content {
        font-size: 1.5em;
        flex: 1;
        text-align: left;
        padding: 0 2em;
        min-height: initial;
      }

      .footer {
        font-size: 1em;
      }

    }

    //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
    //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
  }

  //——————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————
  //||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
  //——————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————
}
