
@import "uify/styles/index.less";
@import "uify/styles/plugin/flagify.less";

.uify-flag {
  height: 100px;
  width: 100px;
  display: block;
}

.uify-button {
  display: inline-block !important;
  margin-top: 10px;
}
